body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1b1b2f;
}


#magicButton {
  padding: 20px 40px;
  font-size: 20px;
  border: none;
  color: #fff;
  background: linear-gradient(45deg, #6a0572, #b507d0);
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}